<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ssm.dufy.dao.StudentDao" >
  <select id="queryList" resultType="com.zhanyue.ssm.entity.Student" parameterType="com.zhanyue.ssm.entity.Student" >
    select id,student_name studentname,STUDENT_CLASS,STUDENT_AGE

    from STUDENT_T
    where  1=1 order by id desc
  </select>
</mapper>